.form-button {
  margin-top: 20px;
  border-color: rgb(234, 151, 240);
  border-style: solid;
  border-radius: 8%;
  text-align: center;
  color: black;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 5px 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
